body{
	background-image: url('images/pastelblue.jpg');
	background-size: cover;
}

#header{
	padding: 20px 5px 20px 5px;
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: #FFBBC6;
	position: relative;
	opacity: 0.8;
}

#header .main{
	border: 5px none #FFBBC6;
	font-size: 180%;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin-left: 1%;
	background-color: #FFBBC6;
	text-align: left;
	cursor: pointer;
}

#header .block{
	border-style: none;
	width: 25%;
	height: 100%
	margin-left: 5px;
	background-color: #FFBBC6;
	font-size: 20px;
	font-style: solid;
	font-family: 'FontAwesome' ,'Raleway' , sans-serif;
	text-align: center;
	cursor: pointer;
}

button{
	font-family: 'FontAwesome';
}
